{:output-dir "resources/public/js/compiled/min", :externs ["closure-js/externs"], :output-to "resources/public/js/compiled/min/index.js", :asset-path "/js/compiled/min", :bundle-cmd {:none ["npx" "webpack" "--mode=production"], :default ["npx" "webpack" "--mode=production"]}, :output-wrapper false, :libs ["closure-js/libs"], :target :bundle, :main onlypartners.core}